{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    {% block css %}
    {% endblock css %}
   
</head>
<body>
    <header>
    <nav class="navbar">
      <div class="logo">🎵 SoundStream</div>
      <ul class="nav-links">
        <li><a href="{% url 'album:album' %}">Album Listening</a></li>
        <li><a href="{% url 'artist:artist' %}">Artist Listening</a></li>
      </ul>
    </nav>

    {% block main %}

    <main class="hero">
        <div class="cta-buttons">
        <a href="#artists"><button class="btn artist">🎤 Artist Listening</button></a>
        <a href="#albums"><button class="btn album">💿 Album Listening</button></a>
        </div>
    </main>
    
    {% endblock main %}
</body>
</html>
